################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ficha06/ex5 v2/.vs/ex5 v2/v15/Server/sqlite3/db.lock
/ficha11/ex2/.vs/ex2/v15/Server/sqlite3/db.lock
